<div class="card mx-auto" style="width: 48rem;">
  <div class="card-body">
    <h5 class="card-title">New Task</h5>

    <%= render 'form', task: @task %>
    
    <%= link_to 'Back', tasks_path %>
  </div>
</div>