<p>
  <strong>Name:</strong>
  <%= @task_priority.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @task_priority.level %>
</p>

<%= link_to 'Edit', edit_task_priority_path(@task_priority) %> |
<%= link_to 'Back', task_priorities_path %>
