//$navbar-default-bg: #9EFD38;

@import "bootstrap";

body {
  margin: 8px;
}

#limelite-logo {
  float: left;
  font-size: 2em;
  font-weight: bold;
  color: #9EFD38;
}

.jumbotron {
  padding-left: 60px;
  padding-right: 60px;
}