//$navbar-default-bg: #9EFD38;

@import "bootstrap";

body {
  margin: 8px;
}

.bg-lime {
  background-color: #9EFD38;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

#limelite-logo {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  color: #9EFD38;
}

.jumbotron {
  padding-left: 60px;
  padding-right: 60px;
}